version: 2
references:
  # Google Services

  export_gservices_key: &export_gservices_key
    run:
      name: Export Google Services key environment variable
      command: echo 'export GOOGLE_SERVICES="$GOOGLE_SERVICES"' >> $BASH_ENV
  decode_gservices_key: &decode_gservices_key
    run:
      name: Decode Google Services key
      command: echo $GOOGLE_SERVICES | base64 -di > platforms/android/barcodescanner/google-services.json
jobs:
  build-and-test-android:
    docker:
      - image: circleci/android:api-28-node

    steps:
      - checkout
      - *export_gservices_key
      - *decode_gservices_key

      - run:
          name: Build Android
          working_directory: platforms/android
          command: ./gradlew --debug assembleDebug testDebugUnitTest

workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test-android
